<div class="visitor-map">
  <script
    type="text/javascript"
    id="mapmyvisitors"
    src="https://mapmyvisitors.com/map.js?cl=ffffff&w=300&t=tt&d=u-yFr7LHhj0-cntxwiMkKbirFC-TDQOyWMWtPgba5Zc"
  ></script>
</div>
